<!DOCTYPE html> 
<html lang="kr">
    <head>
        <title>KSC_Web_Notice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='KSC_Web_Basic_Design.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='KSC_Web_Notice_Design.css') }}">
    </head> 
    <body>
        <h1><a href="{{ url_for('home') }}">경설컴</a></h1>
        <div id="content">
            <div><a href="{{ url_for('intro') }}">소개</a></div>
            <div><a href="{{ url_for('index') }}">공지사항</a></div>
            <div><a href="{{ url_for('noti') }}">게시판</a></div>
            <div><a href="{{ url_for('inup') }}">Sign inㆍSign up</a></div>
        </div>
        <div id="noti">
            <div><h2>게시판</h2></div>
            <a href="{{ url_for('noti_QA') }}" id="QA">Q&A 게시판</a>
            <a href="/noti" id="Project">프로젝트 게시판</a>   
        </div>
    </body>
</html>