<!DOCTYPE html> 
<html>
    <head>
        <title>KSC_Web_Main</title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="30">
        <meta name="viewport" content="width=device-width, inital-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='KSC_Web_Basic_Design.css') }}">
        <style>
        </style>   
    </head> 
    <body>
        <h1><a href="{{ url_for('home') }}">경설컴</a></h1>
        <div id="content">
            <div><a href="/i">소개</a></div>
            <div><a href="/p">공지사항</a></div>
            <div><a href="/noti">게시판</a></div>
            <div><a href="inup">Sign inㆍSign up</a></div>
             <!-- Show session info (logged-in status) using Jinja2 -->
             <div style="float: right;">
                {% if 'username' in session %}
                    <!-- If the user is logged in, display the welcome message and logout link -->
                    <p>Welcome, {{ session['username'] }} | <a href="{{ url_for('logout') }}">Logout</a></p>
                {% else %}
                    <!-- If the user is not logged in, show the login and signup links -->
                    <a href="{{ url_for('inup') }}">Sign in</a> | 
                    <a href="{{ url_for('Signup') }}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>