#login-info {
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
    font-size: 18px;
    color: #F2F2F2;
    position: absolute;
    right: 20px;
    top: 10px;
}
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #252525;
    padding: 10px 20px; 
    border-radius: 8px; 
    margin: 10px;
}
.welcome-message {
    color: #f2f2f2;
    font-size: 18px;
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
    font-weight: bold;
    margin: 0;
}
.user-name {
    color: #ffa500; 
}
.login-link {
    color: #f2f2f2;
    font-size: 18px;
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.login-link:hover {
    color: #007bff;
}
.logout-link {
    color: #f2f2f2;
    font-size: 18px;
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.logout-link:hover {
    color: #de6868 !important;
}

